html,
.coverpageText {
  background: url("../../images/cover.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.coverpageText {
  background-color: black;
  color: white;
  padding: 200px 0px 0px 60px;
  font-family: "Questrial", sans-serif;
}

.coverBtn {
  color: white;
  text-decoration: none;
}

.coverBtn:hover {
  color: black;
}
